body {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    color: blue;
}

.paragraph {
    padding: 20px;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}